<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title><%= pageData.title %></title>
    <meta name="description" content="<%= pageData.description %>">
    <meta name="keyword" content="<%= pageData.keyword %>">
    <link rel="shortcut icon" type="image/png" href="<%= RELATIVE_PATH %>images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css"
          href="<%= RELATIVE_PATH %>fonts/FontAwesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>js/lib/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>js/lib/slick/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>css/styles.css">
    <% if (pageData.template == 'index'){ %>
        <link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>css/index.css">
    <% } %>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="<%= RELATIVE_PATH %>css/ie9.css">
    <![endif]-->
</head>
<body>

<% include block/_header.ejs %>
<%- include(pageData.template) %>
<% include block/_footer.ejs %>

<% if (pageData.template == 'index'){ %>
    <p>This text will be displayed only on index page</p>
<% } else { %>
    <p>This text will not be displayed on index page, but will be displayed on any other pages</p>
<% } %>

<script type="text/javascript" src="<%= RELATIVE_PATH %>js/lib/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/lib/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/lib/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/lib/jquery.matchHeight.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="<%= RELATIVE_PATH %>js/dist/setting.js"></script>
</body>
</html>
